body {
    background-color: lightblue;
}

div.main-content {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: (4, 1fr);
    grid-template-rows: (4, 1fr);
    grid-template-areas: ". . . ."
                         ". . . ."
                         ". . . ."
                         ". . i i"

}


.main-content {
    display: flex;
    background-color: lightgreen;
    margin: 100px;
    border: 100px;
    padding: 500px;
    height: 500px;
    grid-area: i;
    
}






