body {
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    /* margin: 100px; */
    /* padding: 100px; */
    display: flex;
}

.form {
    background-color: lightgreen;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "h h"
                         "b d"
                         "t y"
                         "n ."
                         "s p"

}


.form {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 36px;  
    font-weight: 2000;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 500px;
    line-height: 30px;
    margin: 20px;
    padding: 50px;
    border-style: solid;
    border-width: 10px;
    border-color: black;
} 

.title {
    grid-area: h;
}

.bill {
    text-align: left;
    grid-area: b;
    font-weight: bold;
}

.tip {
    text-align: left;
    grid-area: t;
    font-weight: bold;
}

.numppl {
    text-align: left;
    grid-area: n;
    font-weight: bold;
}

.submit {
    padding: 40px 180px 80px 0px;
    grid-area: s;
    align-items: center;
    
}


.tip-disp {
    grid-area: d;
}

.total-disp {
    grid-area: y
}

.pp-disp {
    grid-area: p
}